<!-- Client Page -->
<div class="well">
  <h1><a href="/stylist/$stylist.getId()">$stylist.getName()</a></h1>
</div>
<div class="well">
  <div class="stylist-clients">
    <h2>Client Details</h2>
    <ul>
      <li>Name: $client.getName()</li>
      <li>Description: $client.getDescription()</li>
      <li>Stylist: $client.getId_stylist()</li>
    </ul>
  </div>
</div>
<!-- Client Page -->
