<!DOCTYPE html>
<html>
  <head>
    <title>Stylist Shop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    <div class="jumbotron">
      <h1><a href="/">Stylist Shop</a></h1>
    </div>
    <!-- begin inner template-->
    <div class="container">
      #parse( $template )
    </div>
    <div class="container-fluid">
      <div class="well">
        <div class="footer">
          <h3>Made by <a href="https://github.com/znergy">Ryan Jones</a></h3>
        </div>
      </div>
    </div>
    <!-- end inner template-->
    <script type="text/javascript" src="/app.js">

    </script>
  </body>
</html>
