<!-- Stylist Form -->
<div class="well">
  <h2>Add a Stylist</h2>
  <form action="/stylist" method="post">
    <div class="input-group">
      <span class="input-group-addon">Stylist Name</span>
      <input class="form-control" name="name" placeholder="Dakota Wellington III" type="text" />
    </div>
    <button class="btn btn-primary" type="submit">
      <span class="glyphicon glyphicon-transfer iconStyle"></span> Add Stylist
    </button>
  </form>
</div>
<!-- Stylist Form -->
